///
/// Default implementation for a .content class
///
@mixin content ($margin) {

    // region Headline bottom spacing
    // must be at the top, as headline on headline will overwrite this
    // later on.
    > .h1,
    > .h2 {
        + * {
            margin-top: $margin;
        }
    }

    > .h3,
    > .h4,
    > .h5,
    > .h6 {
        + * {
            margin-top: .5 * $margin;
        }
    }
    // endregion

    // region Default block elements
    > * {
        // set default margin
        + * {
            margin-top: $margin;
        }

        // reset margins for inline elements
        + a,
        + abbr,
        + acronym,
        + b,
        + bdo,
        + big,
        + br,
        + cite,
        + code,
        + dfn,
        + em,
        + i,
        + img,
        + kbd,
        + map,
        + object,
        + q,
        + samp,
        + small,
        + span,
        + strong,
        + sub,
        + sup,
        + tt,
        + var {
            margin-top: 0;
        }

        // region Headline Top Spacing
        // must be below the `.hX + *` declarations at the top,
        // because it needs to overwrite these
        + .h1,
        + .h2 {
            margin-top: 2 * $margin;
        }

        + .h3,
        + .h4,
        + .h5,
        + .h6 {
            margin-top: $margin;
        }
        // endregion
    }
    // endregion

    // reset margin for default buttons
    > .button + .button {
        margin-top: 0;
    }

    // region Lists
    ul,
    ol {
        margin-left: $margin;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
    // endregion
}
