///
/// Viewport sized typography with minimum and maximum values
///
/// @link https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
///
/// @example scss - 5vw font size,
///                 minimum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px);
///
@mixin responsive-font ($relative-size, $min-font-size, $max-font-size: false) {
    $responsive-unitless: $relative-size / ($relative-size - $relative-size + 1);
    $dimension: if(unit($relative-size) == 'vh', 'height', 'width');
    $min-breakpoint: $min-font-size / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min-font-size;
    }

    @if ($max-font-size) {
        $max-breakpoint: $max-font-size / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max-font-size;
        }
    }

    font-size: $relative-size;
}


///
/// Fonts to include the system emoji fonts
///
/// @param {string...} $custom-fonts the custom fonts to include (variadic argument)
/// @output the `font-family` including emoji fonts
///
@mixin emoji-fonts ($custom-fonts...) {
    font-family:
        #{$custom-fonts},
        // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


///
/// Complete stack of system fonts
///
/// @param {string...} $custom-fonts the custom fonts to include (variadic argument)
/// @output the `font-family` with all fonts, including emoji fonts
///
@mixin system-fonts ($custom-fonts...) {
    @include emoji-fonts (
        #{$custom-fonts},
        // Safari for OS X and iOS (San Francisco)
        -apple-system,
        // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
        system-ui,
        // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        "Roboto",
        // Basic web fallback
        "Helvetica Neue", Arial, sans-serif
    );
}


///
/// Imports the fonts for the given options
///
/// Will append the numerical font-weights and font-styles to the path name with dashes.
///
@mixin import-fonts ($path-prefix, $font-family, $font-weights, $font-styles: (normal italic), $types: (woff2 woff)) {
    @each $font-weight-label, $font-weight in $font-weights {
        @each $font-style in $font-styles {
            @font-face {
                $src : ();

                @each $type in $types {
                    $src: append($src, url("#{$path-prefix}-#{$font-weight}-#{$font-style}.#{$type}") format("#{$type}"), comma);
                }

                font-family: $font-family;
                font-weight: $font-weight;
                font-style: $font-style;
                font-display: fallback;
                src: $src;
            }
        }
    }
}
