///
/// Centers the element in a positioned parent
///
@mixin center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


///
/// Centers the children
///
@mixin center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}


///
/// Stretches an element to fill at least a complete screen
///
@mixin fullscreen () {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
}


///
/// Fills a relative positioned parent
///
@mixin fill-parent () {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


///
/// A flex item with a fixed (optionally specified) width
///
@mixin fixed-flex-item ($width: null) {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 0;

    @if $width != null {
        width: $width;
    }
}
