///
/// Generic str-replace implementation
///
@function str-replace ($string, $search, $replace) {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}


///
/// URL-encodes the given string
///
@function url-encode ($string) {
    $replacements: (
            '<':'%3C',
            '>': '%3E',
            '"': '%22',
            '#': '%23',
            '&': '%26'
    );

    @each $search, $replace in $replacements {
        $string: str-replace($string, $search, $replace);
    }

    @return $string;
}
